/****** General ***********/
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: "Montserrat", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    width: 100%;
}

.main-app{
    max-width: 1440px;
}