.collapseContainer {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 4vh 0vh;

    .collapsesContainer {

        .collapseTitle {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #ff6060;
        padding: 2vh;
        margin-top: 2vh;
        color: white;
        border-radius: 5px;
        font-weight: 600;
        font-size: x-large;

            .arrowBackDown {
                height: fit-content;
                transition: 1s;
                transform: rotate(180deg);
            }

            .arrowBackUp {
                transition: 1s;
            }

            .arrowBack:hover{
                cursor: pointer;
            }
        }

        .collapseText{
            display: none;
        }

        .collapseTextOpen {
            display: flex;
            background-color: #f6f6f6;
            margin-bottom: 2vh;
            border-radius: 5px;
            padding: 2vh 3vh;
            font-size: large;
            text-align: justify;
        }
    }
}
