header {
    display: flex;
    flex-direction: row;
    height: 10vh;
    width: 100%;
    justify-content: space-between;
    margin: 5vh 0;
	padding:0% 5%;
    max-width: 90%;
    align-items: center;

    .logo {
        display: flex;
        width: 30vh;
        height: fit-content;

        img {
            width: 100%;
            filter: drop-shadow(2px 1px 2px #9d9da7);
        }
    }

    .navbar {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: flex-end;

        a {
            text-decoration: none;
            color: black;
            padding-right: 5vh;
            font-size: 24px;
            filter: drop-shadow(1px 2px 2px #9d9da7);
        }

        a:hover {
            text-decoration: underline black;
        }
    }      
}