@media screen and (min-width: 769px) {
  .homeBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    padding: 0% 5%;

    .sectionCards {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #f6f6f6;
      border-radius: 25px;
      margin: 2% 0%;
      width: 100%;
    }
  }
}

@media screen and (max-width: 768px) {
  .homeBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    padding: 0% 5%;

    .sectionCards {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 25px;
      margin: 2% 0%;
      width: 100%;
    }
  }
}
