.homeBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    padding: 0% 5%;

    .sectionCards {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #F6F6F6;
        border-radius: 25px;
        margin: 2% 0%;
        width: 100%;
    
    }
}



