@media screen and (min-width: 769px) {
  .informationsRentals {
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: center;

    .informationsContainer {
      display: grid;
      grid-template-columns: 1fr 1fr;
      width: 100%;

      .titleTags {
        display: flex;
        flex-direction: column;
        width: 100%;

        .label-container {
          display: flex;
          flex-direction: column;

          h1 {
            color: #ff6060;
            font-weight: 500;
            font-size: 2.8rem;
            padding-bottom: 1vh;
          }

          p {
            font-weight: 500;
            font-size: large;
          }
        }

        .tags {
          display: flex;
          gap: 2vh;
          padding: 2vh 0vh;

          span {
            background-color: #ff6060;
            width: fit-content;
            color: white;
            padding: 0.6vh 4vh;
            border-radius: 1.2vh;
            font-weight: 600;
            white-space: nowrap;
            font-size: 1rem;
          }
        }
      }

      .hostRatings {
        display: flex;
        flex-direction: column;

        .host-profil {
          display: flex;
          flex-direction: row;
          text-align: end;
          align-items: center;
          justify-content: end;
          padding-bottom: 2vh;

          p {
            color: #ff6060;
            font-weight: 500;
            font-size: large;
            padding-right: 2vh;
          }

          img {
            display: flex;
            width: 8vh;
            border-radius: 50vh;
          }
        }

        .rate {
          display: flex;
          justify-content: end;
          gap: 1vh;
          width: 100%;
        }
      }
    }

    .collapseRentals {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 10vh;
      padding: 2vh 0vh 5vh 0vh;

      .collapseTextOpen {
        height: 16vh;
        overflow: hidden;
        opacity: 1;
      }

      p {
        padding: 0.2vh 0vh;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .informationsRentals {
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: center;

    .informationsContainer {
      display: flex;
      flex-direction: column;

      .titleTags {
        display: flex;
        flex-direction: column;

        .label-container {
          display: flex;
          flex-direction: column;

          h1 {
            color: #ff6060;
            font-weight: 500;
            font-size: 1.5rem;
            padding-bottom: 1vh;
          }

          p {
            font-weight: 500;
            font-size: large;
          }
        }

        .tags {
          display: flex;
          gap: 2vh;
          padding: 2vh 0vh;

          span {
            background-color: #ff6060;
            color: white;
            padding: 0.6vh 2vh;
            border-radius: 1.2vh;
            font-weight: 600;
            white-space: nowrap;
            font-size: 0.8rem;
          }
        }
      }

      .hostRatings {
        display: flex;
        flex-direction: row-reverse;

        .host-profil {
          display: flex;
          flex-direction: row;
          text-align: end;
          align-items: center;
          justify-content: end;
          padding-bottom: 2vh;

          p {
            color: #ff6060;
            font-weight: 500;
            font-size: large;
            padding-right: 2vh;
          }

          img {
            display: flex;
            width: 8vh;
            border-radius: 50vh;
          }
        }

        .rate {
          display: flex;
          justify-content:baseline;
          align-items: center;
          gap: 1vh;
          width: 100%;

          .star {
            display: flex;
            height: 25%;
          }
        }
      }
    }

    .collapseRentals {
      display: grid;
      grid-template-columns: 1fr;
      padding: 2vh 0vh;

      .collapseTextOpen {
        height: 16vh;
        overflow: hidden;
        opacity: 1;
      }

      p {
        padding: 0.2vh 0vh;
      }
    }
  }
}