@media screen and (min-width: 769px) {
  .informationsRentals {
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: center;

    .titleHost {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .label-container {
        display: flex;
        flex-direction: column;

        h1 {
          color: #ff6060;
          font-weight: 500;
          font-size: 2.8rem;
          padding-bottom: 1vh;
        }

        p {
          font-weight: 500;
          font-size: large;
        }
      }

      .host-profil {
        display: flex;
        flex-direction: row;
        text-align: end;
        align-items: center;

        p {
          color: #ff6060;
          font-weight: 500;
          font-size: large;
          padding-right: 2vh;
        }

        img {
          display: flex;
          width: 8vh;
          border-radius: 50vh;
        }
      }
    }

    .tagsRatings {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 3vh 0vh;

      .tags {
        display: flex;
        gap: 2vh;

        span {
          background-color: #ff6060;
          color: white;
          padding: 0.6vh 4vh;
          border-radius: 1.2vh;
          font-weight: 600;
        }
      }

      .rate {
        display: flex;
        justify-content: end;
        gap: 1vh;
        width: 30vh;
      }
    }

    .collapseRentals {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 10vh;
      padding-bottom: 5vh;

      .collapseTextOpen {
        height: 16vh;
        overflow: hidden;
        opacity: 1;
      }

      p {
        padding: 0.2vh 0vh;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .informationsRentals {
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: center;

    .titleHost {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .label-container {
        display: flex;
        flex-direction: column;

        h1 {
          color: #ff6060;
          font-weight: 500;
          font-size: 2.8rem;
          padding-bottom: 1vh;
        }

        p {
          font-weight: 500;
          font-size: large;
        }
      }

      .host-profil {
        display: flex;
        flex-direction: row;
        text-align: end;
        align-items: center;

        p {
          color: #ff6060;
          font-weight: 500;
          font-size: large;
          padding-right: 2vh;
        }

        img {
          display: flex;
          width: 8vh;
          border-radius: 50vh;
        }
      }
    }

    .tagsRatings {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 3vh 0vh;

      .tags {
        display: flex;
        gap: 2vh;

        span {
          background-color: #ff6060;
          color: white;
          padding: 0.6vh 4vh;
          border-radius: 1.2vh;
          font-weight: 600;
        }
      }

      .rate {
        display: flex;
        justify-content: end;
        gap: 1vh;
        width: 30vh;
      }
    }

    .collapseRentals {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 10vh;
      padding-bottom: 5vh;

      .collapseTextOpen {
        height: 16vh;
        overflow: hidden;
        opacity: 1;
      }

      p {
        padding: 0.2vh 0vh;
      }
    }
  }
}
